{% extends 'base.html' %}

{% load tailwind_filters %}

{% block content %}

<!-- Main content -->
<section aria-labelledby="login-title">

    <div class="container flex flex-col items-center justify-center mx-auto px-4 mt-10">
        <div class="card shrink-0 w-full max-w-xl shadow-2xl bg-base-100 dark:bg-slate-50">

            <!-- Heading section -->
            <h1 id="login-title" class="text-2xl font-bold text-center text-primary dark:text-secondary pt-2">Login</h1>

            <!-- Signup Link -->
            <div class="flex justify-center my-2 text-sm dark:text-black">
                <p>Don't have an account?</p>
                    <a href="{% url 'account_signup' %}" class="text-blue-500 link ml-1">
                        Sign Up
                    </a>
            </div>

            <!-- Form Section -->
            <form class="card-body" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <!-- Submit Button -->
                <button id="loginButton" class="btn rounded-md btn-primary dark:btn-secondary w-full mt-4"
                        type="submit"
                        >
                Login
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}