{% extends 'base.html' %}
{% load static %}

{% block head_title %}Event List{% endblock %}

{% block content %}

<!-- Add New Event Button FOR TESTING -->
<div class="my-4 flex justify-center">
    <a href="{% url 'create_event_post' %}" class="btn btn-primary">
        Create New Event Post
    </a>
</div>

<!-- Event Entries Column -->
<div class="mt-3 flex flex-wrap">
    {% for eventpost in eventpost_list %}

    <div class="w-full md:w-1/2 px-4 mb-4">
        <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <div class="p-4">
                <div class="mb-4">
                    {% if "placeholder" in eventpost.image.url %}
                    <img class="w-full h-auto"
                        src="{% static 'elements/placeholders/post_placeholder.webp' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="w-full h-auto"
                        src=" {{ eventpost.image.url }}"
                        alt="{{ eventpost.event_name }}">
                    {% endif %}
                </div>
                <a href="{% url 'event' eventpost.slug %}" class="block hover:text-blue-600">
                    <h2 class="text-xl font-semibold mb-2 dark:text-black">{{ eventpost.event_name }}</h2>
                </a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    {% endif %}
    {% endfor %}
</div>

{% if is_paginated %}
<nav aria-label="Page navigation" class="flex justify-center mt-4">
    <ul class="list-reset flex">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}"
                class="px-4 py-2 leading-tight text-gray-800 bg-white rounded-l-lg hover:bg-gray-100">« PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"
                class="px-4 py-2 leading-tight text-gray-800 bg-white rounded-r-lg hover:bg-gray-100">
                NEXT »</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}