{% extends 'base.html' %} <!-- Inherit from base layout -->
{% load static %} <!-- Enables the use of static files -->
{% load tailwind_filters %} <!-- Loads custom filters for applying Tailwind CSS classes dynamically -->

{% block head_title %}- Event Details{% endblock %}

{% block content %}
<!-- Main content block where the body of the page is defined -->

    <div class="mx-auto max-w-2xl mt-6 p-5 bg-white shadow-lg rounded-lg mb-10">
    <!-- Container for the event details, applying Tailwind CSS for styling -->

        <!-- Event image section -->
        <div class="relative w-full h-96 md:h-128 overflow-hidden">
            <!-- Dynamically displays either a placeholder image or the event's image -->
            {% if "placeholder" in eventpost.image.url %}
            <!-- Placeholder image is shown if the event image URL contains 'placeholder' -->
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{% static 'elements/placeholders/post_placeholder.webp' %}"
                alt="placeholder image">
            {% else %}
            <!-- Displays the actual event image if available -->
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ eventpost.image.url }}"
                alt="{{ eventpost.event_name }}">
            {% endif %}
        </div>

        <!-- Event title and like button section -->
        <div class="flex justify-between items-center pt-6">
            <h2 class="text-3xl font-bold text-brown">{{ eventpost.event_name }}</h2>
            <!-- Dynamically included like button from another template for modularity -->
            <div class="mr-2" id="like-button-{{ eventpost.slug }}">
                {% include 'likes/like_button.html' %}
            </div>
        </div>

        <!-- Event location display with an accompanying icon -->
        <p class="text-xl text-brown flex justify-start">
            <!-- SVG icon for location visualization -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <!-- Path elements for the SVG icon -->
            </svg>
            {{ eventpost.location }}
        </p>

        <!-- Decorative divider with logo -->
        <div class="divider divider-info">
            <img src="{% static 'elements/icons/lovesched-logo-icon-lightmode.svg' %}" class="w-6" alt="Logo">
        </div>

        <!-- Section for event update information and action buttons -->
        <div class="mt-4 p-2 rounded">
            <div class="flex justify-between">
                <!-- Displays the date when the event was last updated -->
                <div class="flex flex-col">
                    <p class="bg-white text-md badge rounded-md text-brown"><strong>Updated on:</strong></p>
                    <p class="bg-white text-sm badge rounded-md text-brown mb-4">{{ eventpost.updated_on }}</p>
                </div>

                <!-- Conditionally rendered action buttons for event owners -->
                {% if user.is_authenticated and eventpost.author == user %}
                <div>
                    <!-- Link for editing the event, visible only to the event's author -->
                    <a href="{% url 'update_event' slug=eventpost.slug %}" class="btn btn-sm btn-ghost btn-circle">
                        <!-- SVG icon for edit action -->
                    </a>
                    <!-- Link for deleting the event, includes a modal confirmation -->
                    <a href="{% url 'delete_event' slug=eventpost.slug %}"
                        class="btn btn-sm btn-ghost btn-circle"
                        hx-get="{% url 'delete_event' slug=eventpost.slug %}"
                        hx-target="#my_modal_3 .modal-box"
                        onclick="my_modal_3.showModal()">
                        <!-- SVG icon for delete action -->
                    </a>
                {% endif %}
                </div>
            </div>

            <!-- Event description -->
            <p class="text-md bg-white rounded-md p-2 text-brown">{{ eventpost.description }}</p>

            <!-- Navigation and calendar addition buttons -->
            <div class="flex justify-between items-center mx-auto max-w-2xl mt-4">
                <!-- Button for navigating back to the event list -->
                <a href="{% url 'event_list' %}" class="btn btn-secondary">
                    <!-- SVG icon for the back action -->
                </a>
                <!-- Conditional rendering for the 'Add to Calendar' button based on user authentication -->
                {% if user.is_authenticated %}
                <!-- Button for adding the event to the user's calendar, visible only to authenticated users -->
                <a href="{% url 'add_user_date' %}?post_id={{ eventpost.id }}"
                    class="add-to-calendar-btn btn btn-secondary"
                    hx-get="{% url 'add_user_date' %}?post_id={{ eventpost.id }}"
                    hx-target="#my_modal_3 .modal-box"
                    onclick="my_modal_3.showModal()">
                    <!-- SVG icon for adding to calendar -->
                </a>
                {% else %}
                    <!-- Prompt for unauthenticated users to log in before adding events to their calendar -->
                    <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-secondary">
                        <!-- SVG icon for the login action -->
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %} <!-- End of the main content block -->