{% extends 'base.html' %}
{% load static %}

{% block head_title %}Event List{% endblock %}

{% block content %}

<div class="container mx-auto max-w-5xl">

    <!-- Add New Event Button FOR TESTING -->
    <div class="my-4 flex justify-center px-4">
        <a href="{% url 'create_event_post' %}" class="btn btn-primary btn-wide">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            
            Create Your Idea
        </a>
    </div>
    <div class="divider divider-primary">Filter By Category

    </div>
        <div class="mb-4 flex justify-center px-4">
            <select class="select select-sm select-primary w-full max-w-xs">
                <option>Most Liked</option>
                <option>Food & Drink</option>
                <option>Arts & Culture</option>
                <option>Adventure</option>
                <option>Single & Ready to Mingle</option>
            </select>
        </div>


    <!-- Event Entries Column -->
    <div class="mt-3 flex flex-wrap">
        {% for eventpost in eventpost_list %}
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
            <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                <div class="p-4">
                    <div class="mb-4">
                        <!-- Make image clickable by wrapping it in an <a> tag -->
                        <a href="{% url 'event' eventpost.slug %}">
                            {% if "placeholder" in eventpost.image.url %}
                            <img class="w-full h-auto"
                                src="{% static 'elements/placeholders/post_placeholder.webp' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="w-full h-auto"
                                src="{{ eventpost.image.url }}"
                                alt="{{ eventpost.event_name }}">
                            {% endif %}
                        </a>
                    </div>

                    <h2 class="text-xl font-semibold mb-2 dark:text-black pt-2">{{ eventpost.event_name }}</h2>

                    <div class="divider divider-primary">
                        <img src="{% static 'elements/icons/lovesched-logo-icon-lightmode.svg' %}" class="w-6" alt="Logo">
                    </div>
                    
                    <p class="dark:text-gray-800 mb-4">{{ eventpost.description|truncatechars:100 }}</p>
                    <!-- Add a view button at the bottom -->
                    <div class="text-center">
                        <a href="{% url 'event' eventpost.slug %}" class="btn btn-primary">View This Idea</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% if is_paginated %}
<nav aria-label="Page navigation" class="flex justify-center mt-4">
    <ul class="list-reset flex">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}"
                class="px-4 py-2 leading-tight text-gray-800 bg-white rounded-l-lg hover:bg-gray-100">« PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"
                class="px-4 py-2 leading-tight text-gray-800 bg-white rounded-r-lg hover:bg-gray-100">
                NEXT »</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}