{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block head_title %}Event Details{% endblock %}

{% block content %}

<div class="mx-auto max-w-3xl mt-10 p-5 bg-white shadow-lg rounded-lg mb-10">

    <!-- Event image-->
    <div class="">
        {% if "placeholder" in eventpost.image.url %}
        <img src="{% static 'elements/placeholders/post_placeholder.webp' %}"
            alt="placeholder image">
        {% else %}
        <img src=" {{ eventpost.image.url }}" alt="{{ eventpost.event_name }}">
        {% endif %}
    </div>
    <h1 class="text-4xl font-bold text-gray-900 mb-2">{{ eventpost.event_name }}
    </h1>
    <p class="text-xl text-gray-600"><strong>Location:</strong> {{ eventpost.location }}</p>
    <div class="mt-4 mb-4 p-2 bg-gray-50 rounded">
        <p class="text-lg text-gray-700"><strong>Description:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.description }}</p>
        <p class="text-lg text-gray-700"><strong>Category:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.category }}</p>
        <p class="text-lg text-gray-700"><strong>Author:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.author }}</p>
        <p class="text-lg text-gray-700"><strong>Updated:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.updated_on }}</p>
        <!-- Update and delete event -->
    {% if user.is_authenticated and eventpost.author == user %}
      
    <a href="{% url 'update_event' slug=eventpost.slug %}" class="btn btn-sm btn-secondary">
        Edit
    </a>
    <a href="{% url 'delete_event' slug=eventpost.slug %}" class="btn btn-sm btn-secondary">
        Delete
    </a>
    {% endif %}
    </div>

    <!-- Comment count -->
    <div class="dark:text-black">
        <strong class="dark:text-black">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>

    <div class="dark:text-black">
        <h3>Comments:</h3>
        <div class="dark:text-black">
            {% for comment in comments %}
                <div class="{% if not comment.approved %}{% if comment.author == user %}opacity-50{% else %}hidden{% endif %}{% endif %}">
                    <!-- Comment content -->
                    <p class="">
                        {{ comment.author }}
                        <span class="dark:text-black">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                </div>
                <!-- Edit and delete comment -->
                {% if not comment.approved and comment.author == user %}
                    <p>
                        This comment is awaiting approval
                    </p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                    <button class="dark:text-black" data-comment_id="{{ comment.id }}">Delete</button>
                    <button class="dark:text-black" data-comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            {% endfor %}
        </div>

    <!--Create comment-->
    <div class="dark:text-black">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <form id="commentForm" method="post">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-ghost">Submit</button>
        </form>
        {% else %}
            <p>Log in to leave a comment</p>
        {% endif %}
    </div>

<!-- Delete confirmation modal needs to be added here but unsure of how to in Tailwind-->
</div>
<a href="{% url 'event_list' %}"
    class="btn btn-primary">Back
    to Events List</a>
</div>


{% endblock %}
<!--
<script src="{% static 'js/xxx' %}"></script> -->