{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block head_title %}Event Details{% endblock %}

{% block content %}

<div class="mx-auto max-w-2xl my-4">
    <a href="{% url 'event_list' %}"
        class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
          
        Back to Ideas
    </a>
</div>
<div class="mx-auto max-w-2xl mt-6 p-5 bg-white shadow-lg rounded-lg mb-10">

    <!-- Event image-->
    <div class="">
        {% if "placeholder" in eventpost.image.url %}
        <img src="{% static 'elements/placeholders/post_placeholder.webp' %}"
            alt="placeholder image">
        {% else %}
        <img src=" {{ eventpost.image.url }}" alt="{{ eventpost.event_name }}">
        {% endif %}
    </div>
    <h1 class="text-4xl font-bold text-gray-900 mb-2">{{ eventpost.event_name }}
    </h1>
    <p class="text-xl text-gray-600"><strong>Location:</strong> {{ eventpost.location }}</p>
    <div class="mt-4 mb-4 p-2 bg-gray-50 rounded">
        <p class="text-lg text-gray-700"><strong>Description:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.description }}</p>
        <p class="text-lg text-gray-700"><strong>Author:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.author }}</p>
        <p class="text-lg text-gray-700"><strong>Updated:</strong></p>
        <p class="text-md text-gray-600">{{ eventpost.updated_on }}</p>
        <!-- Update and delete event -->
    {% if user.is_authenticated and eventpost.author == user %}
      
    <a href="{% url 'update_event' slug=eventpost.slug %}" class="btn btn-sm btn-secondary">
        Edit
    </a>
    <a href="{% url 'delete_event' slug=eventpost.slug %}"
        class="btn btn-sm btn-secondary"
        hx-get="{% url 'delete_event' slug=eventpost.slug %}"
		hx-target="#my_modal_3 .modal-box"
		onclick="my_modal_3.showModal()">
        Delete
    </a>
    {% endif %}
    </div>
</div>


{% endblock %}
<!--
<script src="{% static 'js/xxx' %}"></script> -->