{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
<div class="container flex flex-wrap md:flex-nowrap mt-10 mx-auto max-w-5xl">
    <div class="w-full md:w-1/4 p-4 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold text-center"> Hi {{ request.user.username }}!</h2>
        <p class="font-semibold text-center">You can update your details or delete your profile.</p>
        <div class="mb-4 flex justify-center">
            {% if "placeholder" in userprofile.image.url %}
            <img src="{% static 'elements/placeholders/profile_placeholder.png' %}" alt="Profile Image" class="rounded-full w-32 h-32 object-cover">
            {% else %}
            <img src=" {{ userprofile.image.url }}" alt="Profile Image" class="rounded-full w-32 h-32 object-cover">
            {% endif %}
        </div>
        <div class="mb-4 flex justify-center">
            <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}   
            </form>
        </div>
        <div class="mb-4 flex justify-center">
            <a href="">
                <button class="btn btn-primary">Back</button>
            </a>
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
    </div>
</div>

{% endblock %}