@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1, h2, h3, p, a {
    font-family: 'Raleway', sans-serif;
}

/* Calendar Styles */


.fc .event-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.fc .event-icon img {
    max-width: 35px;
    max-height: 35px;
    margin: 0 auto;
}

.fc-event {
    background: transparent;
    border: none;
}

.fc-header-toolbar {
    color: black;
}

.fc-daygrid-day-top {
    color: black;
}

.fc-daygrid-day {
    border-color: #e0e0e0;
}

.fc-day {
    color: black;
}

/* About us cards styles */

.grow-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}