@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='986' height='118.3' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='14' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");    background-size: cover;
    background-position: center;

    opacity: 0.1;

    pointer-events: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    position: relative;
    background-color: transparent;
}

h1, h2, h3, p, a {
    font-family: 'Raleway', sans-serif;
}


/* Calendar Styles */


.fc .event-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.fc .event-icon img {
    max-width: 35px;
    max-height: 35px;
    margin: 0 auto;
}

.fc-event {
    background: transparent;
    border: none;
}

.fc-header-toolbar {
    color: black;
}

.fc-daygrid-day-top {
    color: black;
}

.fc-daygrid-day {
    border-color: #e0e0e0;
}

.fc-day {
    color: black;
}

/* Toast notification styling */

/* Fade in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.auto-dismiss-toast {
    animation: fadeIn 0.5s;
}

/* Fade out */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.auto-dismiss-toast-fade-out {
    animation: fadeOut 0.5s forwards;
}


/* File Input */
.file-input {
    display: none;
}

.file-label {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-label:hover {
    background-color: #e4e4e4;
}

.file-name {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.file-action {
    margin-right: 10px;
    font-weight: bold;
}


/* About us cards styles */

.grow-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-brown {
    color: #5c2f3b;
}


/* Toast Messages */
#toast-messages {
    display: none;
}


#id_password_helptext {
    display: none;
}


#id_login {
    color: #000000;
}

.text-gray-700 {
    opacity: 100 !important;
}

#div_id_login label {
    color: #000000;
}

#div_id_password label {
    color: #000000;
}

#div_id_password1 label {
    color: #000000;
}

#div_id_password2 label {
    color: #000000;
}

#div_id_username label {
    color: #000000;
}

#div_id_email label {
    color: #000000;
}

#id_password1_helptext {
    color: #000000;
}

form label {
    color: #000000 !important;
}

/* File Input */
.file-input {
    display: none;
}

.file-label {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-label:hover {
    background-color: #e4e4e4;
}

.file-name {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.file-action {
    margin-right: 10px;
    font-weight: bold;
}
