<!doctype html>
{% load static %}
<html lang="en" class="h-full">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
      <meta name="description"
            content="">
    {% endblock %}

    {% block favicon %}
        
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title></title>
  </head>

  <body class="flex flex-col min-h-screen">
    <header>
        {% include 'includes/nav-bar.html' %}
    </header>

    <main class="flex-grow">
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>

    {% block postloadjs %}
    <script src="{% static 'js/toasts.js' %}" defer></script>
    {% endblock %}

    <footer class="mt-auto">
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>