<!doctype html>
{% load static %}
<html lang="en"  class="h-full">
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
        <meta name="author" content="Code Hearted Crew">
        <meta name="description" content="A Velentine's themed website designed to help with romantic inspiration and planning.
            Allows users to craft and personalize their own romantic experiences, share ideas with others, manage their calendar,
            and create an unforgettable celebration.">
        <meta name="keywords" content="Romantic Ideas, Date Night, Love, Relationship Tips, Couples Activities, Heartfelt Gestures,
            Intimate Moments, Passion Projects, Sweet Surprises, Affectionate Gifts, Love Quotes, Dreamy Escapes, Sentimental Dates,
            Whispered Promises, Love Languages, Cherished Memories, Romantic Getaways, Candlelit Dinners, Sunset Walks, Love Letters
            Creative Romantic Ideas for Couples, Plan Memorable Date Nights, Write Love Notes to Your Partner,
            Weekly Relationship Tips and Advice, Explore Romantic Getaways Together">
    {% endblock %}

    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <!-- New Android Chrome icons -->
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>LoveSched {% block head_title %}{% endblock %}</title>
  </head>

  <body class="flex flex-col min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
        {% include 'includes/modal.html' %}
        {% include 'includes/nav-bar.html' %}
    </header>

    <main class="flex-grow">
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>

    {% block postloadjs %}
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js "></script>
    <script src="{% static 'js/toasts.js' %}" defer></script>
    {% endblock %}

    <footer class="mt-auto">
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>