<!doctype html>
{% load static %}
<html lang="en" data-theme="light">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
      <meta name="description"
            content="">
    {% endblock %}

    {% block favicon %}
        
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title></title>
  </head>

  <body>
    <header>
      {% include 'includes/nav-bar.html' %}
    </header>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    {% include 'includes/footer.html' %}
  </body>
</html>