{% extends 'base.html' %}  <!-- Base layout inheritance -->
{% load static %}  <!-- Static files access -->

{% block head_title %}- Home Page{% endblock %}

{% block content %}  <!-- Main content block -->

<!-- Hero CTA Section -->

<div class="hero mx-auto max-w-5xl min-h-[50vh]">
	<div class="hero-content flex-col md:flex-row-reverse">
		  <!-- Hero image -->
		<img src="{% static 'elements/graphics/hero-img.png' %}" class="max-w-[18rem] md:max-w-sm rounded-lg" />
	  <div>
		<h1 class="text-primary text-5xl font-bold">Plan Your Valentines Day</h1>
		<p class="text-primary py-6">Discover the perfect way to celebrate love this Valentine's Day. Whether you're looking for inspiration or want to craft your own romantic experience, our platform offers a wealth of ideas to explore. Sign up to personalize your plans, manage your calendar, and create an unforgettable celebration.</p>
		<a href="{% url 'event_list' %}" class="btn text-white btn-secondary">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
			  </svg>

			Find an Idea
		</a>
	  </div>
	</div>
  </div>

  <div class="divider divider-primary m-0 text-accent"></div>
<!-- Testimonials Section -->
  <section class="my-8 mx-auto max-w-5xl">
	<div class="container mx-auto flex flex-col items-center pb-6 mb-4 md:p-10 md:px-12">
		<h2 class="text-4xl px-4 text-primary font-semibold leadi text-center">Some love from our users</h2>
	</div>
	<div class="container mx-auto grid grid-cols-1 gap-8 lg:gap-20 md:px-10 md:pb-10 lg:grid-cols-2">
		<div class="flex flex-col items-center mx-12 lg:mx-0">
			<div class="relative text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="absolute top-0 left-0 w-6 h-6 text-primary">
					<path d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"></path>
					<path d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"></path>
				</svg>
				<p class="text-primary px-6 py-1 md:text-lg italic">Before I discovered this site, Valentine's Day was just another day for me to perfect the art of being alone. Now, thanks to their endless ideas, I'm not only great at being alone, I'm also an expert at planning romantic dates for my cat. Who knew Mr. Whiskers was the soulmate I've been looking for all along?</p>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="absolute bottom-0 right-0 w-6 h-6 text-primary">
					<path d="M280,185.143V416H496V16H457.6ZM464,384H312V198.857L464,54.1Z"></path>
					<path d="M232,16H193.6L16,185.143V416H232ZM200,384H48V198.857L200,54.1Z"></path>
				</svg>
			</div>
			<span class="w-12 h-1 my-2 rounded-lg bg-accent"></span>
			<p class="text-primary">Alex Parker</p>
		</div>
		<div class="flex flex-col items-center max-w-lg mx-12 lg:mx-0">
			<div class="relative text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="absolute top-0 left-0 w-6 h-6 text-primary">
					<path fill="currentColor" d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"></path>
					<path fill="currentColor" d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"></path>
				</svg>
				<p class="text-primary px-6 py-1 md:text-lg italic">I used to think planning Valentine's Day was as enjoyable as a root canal without anesthesia. But with this website, it's more like a root canal with laughing gas. I planned an entire day full of surprises, and let me tell you, the biggest surprise was that my partner actually stayed. Cheers to lowering expectations and exceeding them spectacularly!</p>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="absolute bottom-0 right-0 w-6 h-6 text-primary">
					<path fill="currentColor" d="M280,185.143V416H496V16H457.6ZM464,384H312V198.857L464,54.1Z"></path>
					<path fill="currentColor" d="M232,16H193.6L16,185.143V416H232ZM200,384H48V198.857L200,54.1Z"></path>
				</svg>
			</div>
			<span class="w-12 h-1 my-2 rounded-lg bg-accent"></span>
			<p class="text-primary">Katie Taylor</p>
		</div>
	</div>
</section>


{% endblock %}  <!-- End of main content block -->